/* use this file just theme versions */
/* 1.0 version */
.wpcf7 br {
    display: none;
}

a {
    color: #4a8b71;
}

.banner__item .wpcf7-form .v-bottom {
    vertical-align: top;
}

.banner__item .wpcf7-form .v-bottom .custom-btn.primary {
    color: #fff;
}

.page-blog #blog-more-btn {
    margin-top: 10px;
    min-height: 36px;
    min-width: 116px;
    padding: 13px 13px 11px;
}

.page-blog .intro__post-date a {
    color: #f1cf69;
}

.page-blog .intro__post-date a:hover {
    color: #fff;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

#top-bar__logo.nt-text-logo {
    width: auto;
    height: auto;
    margin-right: 50px;
    font-size: 36px;
    font-weight: 700;
    color: #4a8b71;
    overflow: visible;
    text-indent: inherit;
    white-space: nowrap;
    z-index: 9999;
}

.top-bar--style-3:not(.fixed) .container:before {
    content: "";
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: 0px;
    width: 100%;
    display: block;
}

ul#menu-primary {
    margin-bottom: 0px;
}

.template-overlay.pattern {
    opacity: 0.15;
}

.post-categories {
    display: inline-block;
}

.post-categories li {
    display: inline-block;
    position: relative;
}

.entry-header {
    margin-bottom: 20px;
}

.vc_custom_overlay_color {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.nt-theme-before-row-overlay {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.vc_custom_heading {
    position: relative;
    z-index: 1;
}

.team__item__inner a {
    color: #fff;
}

.feedbacks--style-1 .owl-theme .owl-dots .owl-dot span {
    background: #ceb568;
}

.nav>li>a.custom-btn {
    padding: 15px 10px 13px;
}

.form-horizontal .cell:first-child {
    padding-right: 20px;
    width: 95%;
}

.form-horizontal .textfield {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

#footer .row {
    display: block !important;
}

.footer--dark .widget ul {
    color: #fff;
}

#footer {
    border-top: 1px solid #e9e9e9;
}

footer .widget input.wpcf7-form-control.wpcf7-submit {
    background-color: transparent;
    border: 3px solid #fff;
    border-color: #f1cf69;
    color: #504935;
    padding: 15px 10px 13px;
    background-color: transparent;
    line-height: 1;
    font-size: 1.2rem;
    font-weight: 600;
}

footer.footer--style-2 .widget input.wpcf7-form-control.wpcf7-submit {
    color: #fff;
}

footer .widget input.wpcf7-form-control.wpcf7-submit:hover {
    background-color: #f1cf69;
    border-color: #f1cf69;
    color: #fff;
}

.contact-section input.wpcf7-form-control.wpcf7-submit:hover {
    background-color: #fff;
    border-color: #fff;
    color: #777;
}

footer .wpcf7-form .v-bottom {
    vertical-align: top;
}

.error404 #blog {
    border-bottom: 1px solid #e9e9e9;
    padding-top: 100px;
    padding-bottom: 100px;
}
