/* use this file just theme versions */
/* 1.0 version */
.widget-rooms-carousel .rooms-item {
    left: 200px;
    position: relative;
}

.error404 #searchform {
    margin-top: 65px;
    width: 100%;
}

.error404 #searchform {
    margin-right: auto !important;
    margin-left: auto !important;
}

.error404 #searchform input[type="text"] {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.error404 #searchform input[type="text"] {
    display: block;
    width: 75%;
    float: left;
    line-height: 1.4;
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: inherit;
    color: #9f9f9f;
    background: 0 none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #b7b7b7;
    border-radius: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}

.error404 #searchform input[type="submit"] {
    min-width: 20%;
    padding: 15px 10px 13px;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    line-height: 1;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    -webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}

.error404 #searchform input[type="submit"] {
    box-shadow: none;
    outline: none;
    border-color: #f1cf69;
    color: #504935;
    margin-top: 15px;
}

.error404 #searchform input[type="submit"]:active, .error404 #searchform input[type="submit"]:focus, .error404 #searchform input[type="submit"]:hover {
    background-color: #f1cf69;
}

.error404 .template-overlay.pattern {
    opacity: .15;
}

.entry-meta li, .blog-meta ul li {
    list-style: none;
}

@media only screen and (max-width:768px) {
    .skill__item {
        margin: 0 auto;
        position: relative;
        display: block;
    }
}

.breadcrubms span {
    color: #f1cf69 !important;
    text-transform: lowercase;
}

#top-bar__logo {
    background-repeat: no-repeat;
}

.safari .clearfix:after,
.safari .clearfix:before,
.safari .container-fluid:after,
.safari .container-fluid:before,
.safari .container:after,
.safari .container:before,
.safari .row:after,
.safari .row:before {
    display: inherit;
}

.img-fluid {
    cursor: pointer;
}

@media only screen and (max-width:500px) {
    .start-screen__content .title {
        font-size: 45px !important
    }

    .start-screen__content p {
        font-size: 1.5rem !important;
    }
}

/* product plugin shortcode*/
.products .has-border-bottom {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.products .row.has-border-bottom{
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.products .row.has-border-bottom:last-child{
    border: none;
    padding-bottom: 0;
}
@media(max-width:768px){
    .products .row.has-border-bottom {
        padding-top: 0;
    }
}
.counters .counter__item .font-icon {
    float: left;
    margin-left: -50px;
    margin-top: 20px;
}
.start-screen__content .text-right .title, .start-screen__content .text-right .subtitle {
    letter-spacing: 0px;
}
.v-top {
    vertical-align: top;
    margin-top: 100px;
}
.v-bottom {
    vertical-align: bottom;
}

#widget-area #searchform,body.search article #searchform {
    position: relative;
    max-height: 50px;
    max-width: 100%;
    width: 100%;
    display: inline-block;
}
body.search article #searchform {
    position: relative;
    max-height: 50px;
    max-width: 100%;
    width: 90%;
    display: inline-block;
}
 #widget-area #searchform input#searchsubmit,body.search article .searchform input#searchsubmi {
    right: 2px;
}
#widget-area #searchform input[type="text"],body.search article .searchform input[type="text"] {
    padding-right: 0px;
    width: 100%;
    max-width: calc( 100% - 24px);
    display: inline-block;
    position: relative;
}
body.search article .searchform input[type="submit"] {
    float: none;
    line-height: 42px;
    position: relative;
    width: auto;
    padding: 0 32px;
    z-index: 9999;
    top: 2px;
    right: 26px;
    background: #4a8b71;
    border: none;
    color: #fff;
    margin-right: 0;
    position: absolute;
}
@media (max-width: 768px){
#widget-area #searchform {
    width: 84%;
}
}
#vegas-control__prev.font-icon,#vegas-control__next.font-icon {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
#vegas-control__prev.font-icon .circle,
#vegas-control__next.font-icon .circle,
#vegas-control__prev.font-icon .square,
#vegas-control__next.font-icon .square,
#vegas-control__prev.font-icon .circle-bordered,
#vegas-control__next.font-icon .circle-bordered,
#vegas-control__prev.font-icon .square-bordered,
#vegas-control__next.font-icon .square-bordered {
    border: 2px solid #fff;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
}

#vegas-control__prev.font-icon .circle-bordered,
#vegas-control__next.font-icon .circle-bordered,
#vegas-control__prev.font-icon .square-bordered,
#vegas-control__next.font-icon .square-bordered {
    background-color: transparent;
    color: #fff;
}
#vegas-control__prev.font-icon .circle:hover,
#vegas-control__next.font-icon .circle:hover,
#vegas-control__prev.font-icon .square:hover,
#vegas-control__next.font-icon .square:hover  {
    background-color: transparent;
    color: #fff;
}
#vegas-control__prev.font-icon .circle-bordered:hover,
#vegas-control__next.font-icon .circle-bordered:hover,
#vegas-control__prev.font-icon .square-bordered:hover,
#vegas-control__next.font-icon .square-bordered:hover {
    opacity: 0.5;
}
#vegas-control__prev.font-icon .square,
#vegas-control__next.font-icon .square,
#vegas-control__prev.font-icon .square-bordered,
#vegas-control__next.font-icon .square-bordered {
    border-radius: 0;
}
#vegas-control__prev.font-icon .fa-2x,#vegas-control__next.font-icon .fa-2x {
    width: 45px;
    height: 45px;
    line-height: 40px;
}
#vegas-control__prev.font-icon .fa-3x,#vegas-control__next.font-icon .fa-3x {
    width: 55px;
    height: 55px;
    line-height: 50px;
}
#vegas-control__prev.font-icon .fa-4x,#vegas-control__next.font-icon .fa-4x {
    width: 65px;
    height: 65px;
    line-height: 60px;
}
@media (min-width: 576px){
    #vegas-control__prev.space-5 {
        left: 5px;
    }
    #vegas-control__next.space-5 {
        right: 5px;
    }
    #vegas-control__prev.space-10 {
        left: 10px;
    }
    #vegas-control__next.space-10 {
        right: 10px;
    }
    #vegas-control__prev.space-15 {
        left: 15px;
    }
    #vegas-control__next.space-15 {
        right: 15px;
    }
    #vegas-control__prev.space-20 {
        left: 20px;
    }
    #vegas-control__next.space-20 {
        right: 20px;
    }
    #vegas-control__prev.space-25 {
        left: 25px;
    }
    #vegas-control__next.space-25 {
        right: 25px;
    }
    #vegas-control__prev.space-30 {
        left: 30px;
    }
    #vegas-control__next.space-30 {
        right: 30px;
    }
    #vegas-control__prev.space-40 {
        left: 40px;
    }
    #vegas-control__next.space-40 {
        right: 40px;
    }
    #vegas-control__prev.space-50 {
        left: 50px;
    }
    #vegas-control__next.space-50 {
        right: 50px;
    }
    #vegas-control__prev.space-60 {
        left: 60px;
    }
    #vegas-control__next.space-60 {
        right: 60px;
    }
    #vegas-control__prev.space-70 {
        left: 70px;
    }
    #vegas-control__next.space-70 {
        right: 70px;
    }
    #vegas-control__prev.space-80 {
        left: 80px;
    }
    #vegas-control__next.space-80 {
        right: 80px;
    }
    #vegas-control__prev.space-90 {
        left: 90px;
    }
    #vegas-control__next.space-90 {
        right: 90px;
    }
    #vegas-control__prev.space-100 {
        left: 100px;
    }
    #vegas-control__next.space-100 {
        right: 100px;
    }
}


.special-offer {
    line-height: 1
}

.special-offer--style-1 .text {
    font-size: 4.5rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: masked-animation;
    animation-name: masked-animation;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@-webkit-keyframes masked-animation {

    0%,
    100% {
        background-position: 50% 35%
    }

    50% {
        background-position: 50% 65%
    }
}

@keyframes masked-animation {

    0%,
    100% {
        background-position: 50% 35%
    }

    50% {
        background-position: 50% 65%
    }
}

@media (min-width:576px) {

    .special-offer--style-1 .text {
        font-size: 6.5rem
    }
}
@media (min-width:768px) {

    .special-offer--style-1 .text {
        font-size: 8.5rem
    }
}
@media (min-width:992px) {

    .special-offer--style-1 .text {
        font-size: 10rem;
    }
}